/*Imagen de fondo*/
body {
    background-image: url(/img/rb-wp.jpg);
    /*background-size: cover;*/
    background-position: center;
    /*background-repeat: no-repeat;*/
}

/*Cards*/

/*Efecto de sobresalir cuando el cursor pase por encima de la card*/
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}

/*Suavizar el efecto de sobresalir*/
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

hr {
    opacity: 0.3;
}

.imp-std-dim{
    height: 1400px;
    object-fit: cover;
}

.cap-std-dim{
    height: 1100px;
    object-fit: cover;
}

.tav-std-dim{
    height: 1450px;
    object-fit: cover;
}

.sov-std-dim{
    height: 950px;
    object-fit: cover;
}

.tec-std-dim{
    height: 700px;
    object-fit: cover;
}

.atr-std-dim{
    height: 550px;
    object-fit: cover;
}